html {
    background-color: black;
}

.h1 {
    text-align: center;
    font-size: 40px;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}

.p {
    text-align: center;
    margin: 10px;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}

.kartinka {
    font-family: 'Roboto Condensed', sans-serif;
}

.but {
    text-align: center;
    margin: 2px;
    text-decoration: none;
    font-size: 17px;
}
a {
    text-align: center;
}